<div class="container-flex">
    <div class="row justify-content-center">
        <div class="nav-category first active">
            01 상품컨셉
        </div>
        <div class="nav-bracket">
            <img src="/images/bracket.svg">
        </div>
        <div class="nav-category second">
            02 샘플설계
        </div>
        <div class="nav-bracket">
            <img src="/images/bracket.svg">
        </div>
        <div class="nav-category third">
            03 상품설계
        </div>
    </div>
    <div class="row">
        <div id="contents-container">
            <div id="inner-container">

            </div>
        </div>
    </div>
</div>
</div>
<div class="row justify-content-center button-row">
    <div class="col-4 bottom-btn-col">
        <button class="btn" id="next-btn">다음</button>
    </div>
</div>
</div>