<div class="container-flex">
    <div class="row justify-content-center">
        <div class="nav-category first">
            01 상품컨셉
        </div>
        <div class="nav-bracket">
            <img src="/images/bracket.svg">
        </div>
        <div class="nav-category second">
            02 샘플설계
        </div>
        <div class="nav-bracket">
            <img src="/images/bracket.svg">
        </div>
        <div class="nav-category third active">
            03 상품설계
        </div>
    </div>
    <div class="row">
        <div id="contents-container">
            <div id="inner-container">
                <div class="title">
                    : 상품의 세부 유형을 선택하세요
                </div>
                <div class="col-12">
                    <div class="main-selections">
                        <div class="row">
                            <div class="input-group">
                                <div class="label left">상품 컨셉</div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{template.[0]}}
                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><h5>종신보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>건강보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>정기보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>상해보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>실손보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>저축보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>연금보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>교육보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>기부보험</h5></a>
                                        <a class="dropdown-item" href="#"><h5>임의보험</h5></a>
                                    </div>
                                </div>
                                <div class="label right">서비스 종류</div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{template.[1]}}

                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><h5>적립</h5></a>
                                        <a class="dropdown-item" href="#"><h5>중도자금</h5></a>
                                        <a class="dropdown-item" href="#"><h5>할인</h5></a>
                                        <a class="dropdown-item" href="#"><h5>제휴</h5></a>
                                        <a class="dropdown-item" href="#"><h5>보증</h5></a>
                                        <a class="dropdown-item" href="#"><h5>드림플러스</h5></a>
                                        <a class="dropdown-item" href="#"><h5>주모</h5></a>
                                        <a class="dropdown-item" href="#"><h5>브랜드/컨텐츠</h5></a>
                                        <a class="dropdown-item" href="#"><h5>임의입력</h5></a>
                                        <a class="dropdown-item" href="#"><h5>선택안함</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row selection">
                            <div class="input-group sang-poom-nae-yong-parent">
                                <div class="label left">보장 내용</div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle sang-poom-nae-yong" type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{template.[2]}}

                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="death">
                                            <label for="death" class="no-hide">
                                                <h5 class="no-hide">사망</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="cancer">
                                            <label for="ip-won" class="no-hide">
                                                <h5 class="no-hide">암</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="hemorrhage">
                                            <label for="hemorrhage" class="no-hide">
                                                <h5 class="no-hide">뇌출혈</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" hre="#">
                                            <input class="radio" type="radio" name="gyung-saek">
                                            <label for="gyung-saek" class="no-hide">
                                                <h5 class="no-hide">급성 심근경색</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="surgery">
                                            <label for="surgery" class="no-hide">
                                                <h5 class="no-hide">수술</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="hospitalization">
                                            <label for="hospitalization" class="no-hide">
                                                <h5 class="no-hide">입원</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="mountain-biking">
                                            <label for="mountain-biking" class="no-hide">
                                                <h5 class="no-hide">산악자전거 상해</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="bone">
                                            <label for="bone" class="no-hide">
                                                <h5 class="no-hide">재해 골절</h5>
                                            </label>
                                        </a>
                                        <a class="dropdown-item no-hide" href="#">
                                            <input class="radio" type="radio" name="jaehae-surgery">
                                            <label for="jaehae-surgery" class="no-hide">
                                                <h5 class="no-hide">재해수술</h5>
                                            </label>
                                        </a>
                                    </div>
                                </div>
                                <div class="label right">서비스 내용</div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="boo-ga-service-dropdown"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{template.[3]}}

                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><h5>체증형(51세형)</h5></a>
                                        <a class="dropdown-item" href="#"><h5>효도자금형(3년 거치, <br/> 5년 지급)</h5></a>
                                        <a class="dropdown-item" id="booga-service-row-trigger" href="#"><h5>DB선택</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row selection">
                            <div class="input-group">
                                <div class="label left">보험 기간</div>
                                <div class="dropdown">
                                    <!--<input type="text" class="form-control fomr-control-lg main-input" value="종신">-->

                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            종신
                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><h5>종신</h5></a>
                                        <a class="dropdown-item" href="#"><h5>10년</h5></a>
                                    </div>
                                </div>
                                <div class="label right">납입 기간</div>
                                <div class="dropdown">
                                    <input type="text" class="form-control fomr-control-lg main-input"
                                           value="0, 5, 7, 10, 15, 20, 22">

                                    <!--<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->

                                    <!--<img src="/images/arrow.svg" class="arrow"/>-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                                    <!--<a class="dropdown-item" href="#"><h5>일시</h5></a>-->
                                    <!--<a class="dropdown-item" href="#"><h5>1년</h5></a>-->
                                    <!--<a class="dropdown-item" href="#"><h5>2년</h5></a>-->
                                    <!--<a class="dropdown-item" href="#"><h5>3년</h5></a>-->
                                    <!--<a class="dropdown-item" href="#"><h5>10년</h5></a>-->
                                    <!--<a class="dropdown-item" href="#"><h5>20년</h5></a>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row selection">
                            <div class="input-group">
                                <div class="label left">가입 성별</div>
                                <div class="dropdown">
                                    <input type="text" class="form-control fomr-control-lg main-input" value="남자, 여자">

                                    <!--<button class="btn dropdown-toggle" type="button"-->
                                    <!--id="dropdownMenuButton"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->

                                    <!--<img src="/images/arrow.svg" class="arrow"/>-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                                    <!--<a class="dropdown-item" href="#"><h5>남자</h5></a>-->
                                    <!--<a class="dropdown-item" href="#"><h5>여자</h5></a>-->
                                    <!--</div>-->
                                </div>
                                <div class="label right">가입 연령</div>
                                <div class="dropdown">
                                    <input type="text" class="form-control fomr-control-lg main-input" value="15 to 70">

                                    <!--<button class="btn dropdown-toggle saupbe-input" type="button"-->
                                    <!--id="dropdownMenuButton"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->

                                    <!--<img src="/images/arrow.svg" class="arrow"/>-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row selection">
                            <div class="input-group">
                                <div class="label left">건강체 포함</div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 16px !important;">
                                        YES
                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Yes</a>
                                        <a class="dropdown-item" href="#">No</a>
                                    </div>
                                </div>
                                <div class="label right">판매 성향</div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle saupbe-input outside-select-dropdown" type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        외부지정
                                        <img src="/images/arrow.svg" class="arrow"/>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item outside-select-trigger" href="#">외부지정</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row table-row">
                    <div class="table-container">
                        <table class="table table-bordered db-table table-striped outside-select" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th>성별</th>
                                <th>보기</th>
                                <th>납기</th>
                                <th>연령</th>
                                <th>가입금액</th>
                                <th>비중</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>남</td>
                                <td>10</td>
                                <td>10</td>
                                <td>35</td>
                                <td>1,000</td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <td>남</td>
                                <td>20</td>
                                <td>20</td>
                                <td>30</td>
                                <td>2,000</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>여</td>
                                <td>10</td>
                                <td>10</td>
                                <td>25</td>
                                <td>1,000</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered db-table table-striped booga-service-table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>스타트업</th>
                                <th>서비스명</th>
                                <th>서비스</th>
                                <th>재원</th>
                                <th>비용인식</th>
                                <th>비용형태</th>
                                <th>서비스지점</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>어스토리</td>
                                <td>어스토리</td>
                                <td>할인</td>
                                <td>유지비</td>
                                <td>매년</td>
                                <td>일정액</td>
                                <td>매년</td>
                            </tr>
                            <tr>
                                <td>앤</td>
                                <td>맘톡</td>
                                <td>제휴</td>
                                <td>사업비차</td>
                                <td>납입시</td>
                                <td>일정비율</td>
                                <td>5년</td>
                            </tr>
                            <tr>
                                <td>HGInitiative</td>
                                <td>볼런컬쳐</td>
                                <td>제휴</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>10년</td>
                            </tr>
                            <tr>
                                <td>모임소프트</td>
                                <td>Skinfit</td>
                                <td>할인</td>
                                <td>사업비차</td>
                                <td>초년도</td>
                                <td>일정비율</td>
                                <td>납입시</td>
                            </tr>
                            <tr>
                                <td>잇츠한불</td>
                                <td>화장품할인</td>
                                <td>쿠폰</td>
                                <td>이차</td>
                                <td>매년</td>
                                <td>일정액</td>
                                <td>완납시</td>
                            </tr>
                            <tr>
                                <td>웨이웨어러블</td>
                                <td>웨이스킨</td>
                                <td>현물</td>
                                <td>이차</td>
                                <td>10년</td>
                                <td>일정액</td>
                                <td>만기시</td>
                            </tr>
                            <tr>
                                <td>네오난</td>
                                <td>남성온라인매거진</td>
                                <td>회원권</td>
                                <td>사업비차</td>
                                <td>초회</td>
                                <td>일정비율</td>
                                <td>만기 + 1</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table jong-shin" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>262,000</td>
                                <td>214,000</td>
                                <td><span class="orange-span">238,000</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>8.34%</td>
                                <td>9.33%</td>
                                <td><span class="orange-span">8.84%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-1" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>237,600</td>
                                <td>203,200</td>
                                <td><span class="orange-span">220,400</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.23%</td>
                                <td>8.11%</td>
                                <td><span class="orange-span">7.67%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-2" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>203,000</td>
                                <td>180,300</td>
                                <td><span class="orange-span">191,650</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.94%</td>
                                <td>7.61%</td>
                                <td><span class="orange-span">7.27%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-3" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>160,300</td>
                                <td>157,500</td>
                                <td><span class="orange-span">158,900</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.10%</td>
                                <td>7.16%</td>
                                <td><span class="orange-span">7.13%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-4" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>168,400</td>
                                <td>159,200</td>
                                <td><span class="orange-span">163,800</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.77%</td>
                                <td>8.89%</td>
                                <td><span class="orange-span">7.83%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-5" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>181,600</td>
                                <td>169,800</td>
                                <td><span class="orange-span">175,700</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.58%</td>
                                <td>7.13%</td>
                                <td><span class="orange-span">6.85%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-6" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>216,300</td>
                                <td>190,900</td>
                                <td><span class="orange-span">203,600</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.18%</td>
                                <td>8.54%</td>
                                <td><span class="orange-span">7.86%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-7" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>224,000</td>
                                <td>192,600</td>
                                <td><span class="orange-span">208,500</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>8.09%</td>
                                <td>7.65%</td>
                                <td><span class="orange-span">7.87%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-8" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>255,600</td>
                                <td>220,200</td>
                                <td><span class="orange-span">237,900</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>8.23%</td>
                                <td>9.10%</td>
                                <td><span class="orange-span">8.66%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-9" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>257,600</td>
                                <td>221,200</td>
                                <td><span class="orange-span">239,400</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.00%</td>
                                <td>7.37%</td>
                                <td><span class="orange-span">7.18%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-10" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>275,600</td>
                                <td>238,200</td>
                                <td><span class="orange-span">256,900</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.26%</td>
                                <td>7.12%</td>
                                <td><span class="orange-span">6.69%</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center button-row">
        <div class="col-4"></div>
        <div class="col-4 bottom-btn-col">
            <button class="btn" id="previous-btn">뒤로</button>
            <button class="btn" id="next-btn">다음</button>
        </div>
        <div class="col-4" style="padding: 0 !important;">
            <button class="btn" id="booster-run-btn">Booster FMS 계산</button>
        </div>
    </div>
</div>

<div id="input-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-container">
                <div class="row">
                    <div class="col-12 modal-top-section">
                        <div class="modal-title-container">
                            <span id="modal-title"></span> 사용자 입력
                        </div>
                        <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="/images/close.svg"/></span>
                        </button>
                    </div>
                    <div class="col-12">
                        <form class="form-inline modal-input-form">
                            <div class="form-group">
                                <input type="text" readonly class="form-control-plaintext" id="modal-selected"
                                       value="사업비">
                            </div>
                            <div class="form-group mx-sm-3">
                                <label for="inputPassword2" class="sr-only"></label>
                                <input type="text" class="form-control" id="modal-input" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="col-12 modal-btn-row">
                        <button class="btn" id="modal-cancel-btn">취소</button>
                        <button class="btn" id="modal-confirm-btn">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>