<div class="container-flex">
    <div class="row justify-content-center">
        <div class="nav-category first">
            01 상품컨셉
        </div>
        <div class="nav-bracket">
            <img src="/images/bracket.svg">
        </div>
        <div class="nav-category second">
            02 샘플설계
        </div>
        <div class="nav-bracket">
            <img src="/images/bracket.svg">
        </div>
        <div class="nav-category third active">
            03 상품설계
        </div>
    </div>
    <div class="row">
        <div id="contents-container">
            <div id="inner-container">
                <div class="title">
                    : 산출 결과입니다.
                </div>
                <div class="col-12">
                    <div class="main-selections">
                        <div class="row buttons-row">
                            <button class="btn table-btn change-table-1 active">보험료</button>
                            <button class="btn table-btn change-table-2">준비금</button>
                            <button class="btn table-btn change-table-3">손익</button>
                        </div>
                        <div class="row table-row">
                            <div class="table-container">
                                <table class="table table-striped table-hover final-table-1">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>성별</th>
                                        <th>연령</th>
                                        <th>보험료</th>
                                        <th>미상각</th>
                                        <th>갱신여부</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>2500</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>31</td>
                                        <td>3000</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>32</td>
                                        <td>4000</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>33</td>
                                        <td>4400</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>34</td>
                                        <td>4900</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped table-hover final-table-2" style="display: none;">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>성별</th>
                                        <th>연령</th>
                                        <th>준비금1</th>
                                        <th>준비금2</th>
                                        <th>준비금3</th>
                                        <th>준비금4</th>
                                        <th>준비금5</th>
                                        <th>준비금6</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>10</td>
                                        <td>13</td>
                                        <td>17</td>
                                        <td>20</td>
                                        <td>27</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>40</td>
                                        <td>12</td>
                                        <td>15</td>
                                        <td>19</td>
                                        <td>22</td>
                                        <td>29</td>
                                        <td>34</td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>50</td>
                                        <td>14</td>
                                        <td>17</td>
                                        <td>21</td>
                                        <td>24</td>
                                        <td>31</td>
                                        <td>36</td>
                                    </tr>
                                    <tr>
                                        <td>여자</td>
                                        <td>30</td>
                                        <td>7</td>
                                        <td>10</td>
                                        <td>14</td>
                                        <td>17</td>
                                        <td>24</td>
                                        <td>29</td>
                                    </tr>
                                    <tr>
                                        <td>여자</td>
                                        <td>40</td>
                                        <td>9</td>
                                        <td>12</td>
                                        <td>16</td>
                                        <td>19</td>
                                        <td>26</td>
                                        <td>31</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped table-hover final-table-3" style="display: none;">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>성별</th>
                                        <th>연령</th>
                                        <th>경과년도</th>
                                        <th>보험료</th>
                                        <th>진단자금</th>
                                        <th>사업비</th>
                                        <th>투자수익</th>
                                        <th>세전이익</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>1</td>
                                        <td>14,300</td>
                                        <td>17</td>
                                        <td>20</td>
                                        <td>27</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>2</td>
                                        <td>14,300</td>
                                        <td>19</td>
                                        <td>22</td>
                                        <td>29</td>
                                        <td>34</td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>3</td>
                                        <td>14,300</td>
                                        <td>21</td>
                                        <td>24</td>
                                        <td>31</td>
                                        <td>36</td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>4</td>
                                        <td>14,300</td>
                                        <td>14</td>
                                        <td>17</td>
                                        <td>24</td>
                                        <td>29</td>
                                    </tr>
                                    <tr>
                                        <td>남자</td>
                                        <td>30</td>
                                        <td>5</td>
                                        <td>14,300</td>
                                        <td>16</td>
                                        <td>19</td>
                                        <td>26</td>
                                        <td>31</td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>


                        </div>

                    </div>
                </div>
                <div class="progress" style="display: none; margin: 100px 0 0 25px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         style="width: 0"></div>
                </div>
                <div class="row table-row">
                    <div class="table-container">
                        <table class="table table-bordered db-table table-striped booga-service-table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>스타트업</th>
                                <th>서비스명</th>
                                <th>서비스</th>
                                <th>재원</th>
                                <th>비용인식</th>
                                <th>비용형태</th>
                                <th>서비스지점</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>어스토리</td>
                                <td>어스토리</td>
                                <td>할인</td>
                                <td>유지비</td>
                                <td>매년</td>
                                <td>일정액</td>
                                <td>매년</td>
                            </tr>
                            <tr>
                                <td>앤</td>
                                <td>맘톡</td>
                                <td>제휴</td>
                                <td>사업비차</td>
                                <td>납입시</td>
                                <td>일정비율</td>
                                <td>5년</td>
                            </tr>
                            <tr>
                                <td>HGInitiative</td>
                                <td>볼런컬쳐</td>
                                <td>제휴</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>10년</td>
                            </tr>
                            <tr>
                                <td>모임소프트</td>
                                <td>Skinfit</td>
                                <td>할인</td>
                                <td>사업비차</td>
                                <td>초년도</td>
                                <td>일정비율</td>
                                <td>납입시</td>
                            </tr>
                            <tr>
                                <td>잇츠한불</td>
                                <td>화장품할인</td>
                                <td>쿠폰</td>
                                <td>이차</td>
                                <td>매년</td>
                                <td>일정액</td>
                                <td>완납시</td>
                            </tr>
                            <tr>
                                <td>웨이웨어러블</td>
                                <td>웨이스킨</td>
                                <td>현물</td>
                                <td>이차</td>
                                <td>10년</td>
                                <td>일정액</td>
                                <td>만기시</td>
                            </tr>
                            <tr>
                                <td>네오난</td>
                                <td>남성온라인매거진</td>
                                <td>회원권</td>
                                <td>사업비차</td>
                                <td>초회</td>
                                <td>일정비율</td>
                                <td>만기 + 1</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table jong-shin" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>262,000</td>
                                <td>214,000</td>
                                <td><span class="orange-span">238,000</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>8.34%</td>
                                <td>9.33%</td>
                                <td><span class="orange-span">8.84%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-1" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>237,600</td>
                                <td>203,200</td>
                                <td><span class="orange-span">220,400</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.23%</td>
                                <td>8.11%</td>
                                <td><span class="orange-span">7.67%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-2" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>203,000</td>
                                <td>180,300</td>
                                <td><span class="orange-span">191,650</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.94%</td>
                                <td>7.61%</td>
                                <td><span class="orange-span">7.27%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-3" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>160,300</td>
                                <td>157,500</td>
                                <td><span class="orange-span">158,900</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.10%</td>
                                <td>7.16%</td>
                                <td><span class="orange-span">7.13%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-4" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>168,400</td>
                                <td>159,200</td>
                                <td><span class="orange-span">163,800</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.77%</td>
                                <td>8.89%</td>
                                <td><span class="orange-span">7.83%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-5" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>181,600</td>
                                <td>169,800</td>
                                <td><span class="orange-span">175,700</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.58%</td>
                                <td>7.13%</td>
                                <td><span class="orange-span">6.85%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-6" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>216,300</td>
                                <td>190,900</td>
                                <td><span class="orange-span">203,600</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.18%</td>
                                <td>8.54%</td>
                                <td><span class="orange-span">7.86%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-7" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>224,000</td>
                                <td>192,600</td>
                                <td><span class="orange-span">208,500</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>8.09%</td>
                                <td>7.65%</td>
                                <td><span class="orange-span">7.87%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-8" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>255,600</td>
                                <td>220,200</td>
                                <td><span class="orange-span">237,900</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>8.23%</td>
                                <td>9.10%</td>
                                <td><span class="orange-span">8.66%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-9" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>257,600</td>
                                <td>221,200</td>
                                <td><span class="orange-span">239,400</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>7.00%</td>
                                <td>7.37%</td>
                                <td><span class="orange-span">7.18%</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover result-table health-10" style="display: none;">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                <th>남자</th>
                                <th>여자</th>
                                <th>합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>보험료</td>
                                <td>275,600</td>
                                <td>238,200</td>
                                <td><span class="orange-span">256,900</span></td>
                            </tr>
                            <tr>
                                <td>손익률</td>
                                <td>6.26%</td>
                                <td>7.12%</td>
                                <td><span class="orange-span">6.69%</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center button-row">
        <div class="col-4"></div>
        <div class="col-4 bottom-btn-col">
            <button class="btn" id="previous-btn">뒤로</button>
            <button class="btn" id="next-btn">마침</button>
        </div>
        <div class="col-4" style="padding: 0 !important;">
        </div>
    </div>
</div>

<div id="input-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-container">
                <div class="row">
                    <img id="screenshot" src="/images/screenshot.jpg" style="display: none;"/>
                </div>
                <div class="row">
                    <div class="col-12 modal-top-section">
                        <div class="modal-title-container">
                            <span id="modal-title"></span> 사용자 입력
                        </div>
                        <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="/images/close.svg"/></span>
                        </button>
                    </div>
                    <div class="col-12">
                        <form class="form-inline modal-input-form">
                            <div class="form-group">
                                <input type="text" readonly class="form-control-plaintext" id="modal-selected"
                                       value="사업비">
                            </div>
                            <div class="form-group mx-sm-3">
                                <label for="inputPassword2" class="sr-only"></label>
                                <input type="text" class="form-control" id="modal-input" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="col-12 modal-btn-row">
                        <button class="btn" id="modal-cancel-btn">취소</button>
                        <button class="btn" id="modal-confirm-btn">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>